.mi_carrito_titulo{
    margin:30px
}

.remover_btn{
    display: none;
}
.carrito_vacio{
    margin: 30px;
    font-size: x-large;
}

.cursos-item{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 12px auto;
    align-items: center;

}

.btn_eliminar{
    width: 100px;
    height: 40px;
    justify-self: center;
}
.precio2{
    justify-self: center;
}

.terminar_compra{
    display: flex;
    width: 97%;
    margin: auto;
    justify-content: center;

}
.terminar_compra a{
    margin-right: 10px;
    align-self: center;
    font-size: larger;
}
.terminar_compra button{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;

}

/* Uso de media queries para adaptar la pantalla */

@media (width>810px) {
    .cursos-item, .terminar_compra{
        max-width: 80%;
    }
    .terminar_compra{
        justify-content: end;
    }
    .btn_eliminar{
        width: 200px;
    }
}
@media (width>1000px){
    .cursos-item, .terminar_compra{
        max-width: 60%;
    }
    .terminar_compra{
        justify-content: end;
    }
    .btn_eliminar{
        width: 200px;
    }
}